<div class="row">
    <div class="col-lg-5">
        <div class="card bg-dark">
            <img class="card-img-top" src="../images/formation.png" alt="Card image cap" style="height: 30%" width="6%">
            <div class="card-block" style="padding-left : 15px;">
                <h4 class="card-title" style="color: springgreen; font-family: Verdana, Geneva, Tahoma, sans-serif ; ">Formations</h4>
                <h6 style="color: white">Nombre de Formations disponnible
                    <span class="badge badge-danger">{{nbFormations}}</span>
                </h6>
                <br>
                <center><a ui-sref="formations" class="btn btn-success">Consulter</a></center>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>
    <div>

    </div>

</div>