<div>
    <span>
        <i class="fa fa-info-circle"></i>
        <span style="color: darkblue;font-family: Verdana, Geneva, Tahoma, sans-serif"> Détails de l'enseignant' /
            <b style="color: darkorchid">{{enseignant.nom}} - {{enseignant.prenom}}</b>
        </span>
    </span>
</div>
<hr>
<div class="row container-fluid">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item justify-content-between">
                Numéro Enseignant
                <span class="badge badge-default badge-pill">{{enseignant.noEnseignant}}</span>
            </li>
            <li class="list-group-item justify-content-between">
                Adresse
                <span class="badge badge-default badge-pill">{{enseignant.adresse}}</span>
            </li>
            <li class="list-group-item justify-content-between">
                Code Postal
                <span class="badge badge-default badge-pill">{{enseignant.codePostal}}</span>
            </li>
            <li class="list-group-item justify-content-between">
                Email UBO
                <span class="badge badge-default badge-pill">{{enseignant.emailUbo}}</span>
            </li>
        </ul>
    </div>
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item justify-content-between">
                Email personnel
                <span class="badge badge-default badge-pill">{{enseignant.emailPerso}}</span>
            </li>
            <li class="list-group-item justify-content-between">
                Mobile
                <span class="badge badge-default badge-pill">{{enseignant.mobile}}</span>
            </li>
            <li class="list-group-item justify-content-between">
                Ville
                <span class="badge badge-default badge-pill">{{enseignant.ville}}</span>
            </li>
            <li class="list-group-item justify-content-between">
                Type
                <span class="badge badge-default badge-pill">{{enseignant.type}}</span>
            </li>
        </ul>
    </div>
</div>
<br>
<br>